body {
    background-color: rgb(128, 203, 196);
    font-family: "Nunito", sans-serif;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    background-image: url(../images/GetStarted_1.jpg);
    width: 65vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    padding: 20px;
}

.tagline {
    font-style: italic;
    color: rgb(37, 68, 124);
}

#study {
    color: rgb(37, 68, 124);
    font-size: xx-large;
    font-weight: 900;
    text-shadow: 3px 3px 5px rgb(72, 179, 175);
}

h3 {
    color: rgb(37, 68, 124);
}

.box1 {
    background: var(--card);
    padding: 28px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
}

button {
    width: 100%;
    height: 45px;
    margin: 10px 0;

    font-size: large;
    font-family: "Nunito", sans-serif;
    border-radius: 25px;
}


.signup {
    background-color: rgb(71, 110, 174);
    color: white;
    border-style: none;
}

.signup:hover {
    background-color: rgb(50, 85, 150);
}

.login {
    background-color: rgb(72, 179, 175);
    color: white;
    border-style: none;
}

.login:hover {
    background-color: rgb(50, 150, 145);
}

/* Media queries here */

/* For mobile - width range 320px – 480px */
@media (min-width:320px) and (max-width:480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        line-height: 1.2;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 90vw;
    }

    #study {
        margin: 0 8px 6px 8px;
        color: rgb(37, 68, 124);
        font-size: x-large;
        font-weight: 900;
        text-shadow: 3px 3px 5px rgb(72, 179, 175);
    }

    .tagline {
        font-style: italic;
        color: rgb(37, 68, 124);
        font-size: medium;
        font-weight: 300;
        margin: 0 5px 0 5px;
        /* display: inline; */
    }

    /* .left {
        background-image: url(../images/GetStarted_1.jpg);
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    } */

    .left {
        background-image: url(../images/GetStarted_1.jpg);
        width: 100%;

        /* KEY FIX */
        height:377px;
        /* you can adjust: 180px – 260px */

        background-size: cover;
        background-position: right center;
        /* keeps girl visible */
        background-repeat: no-repeat;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 5px;
        width: 100%;
    }

    h3 {
        /* display: inline; */
        margin: 5px 10px 5px 10px;
        font-size: medium;
    }

    .box1 {
        width: 10rem;
        background: var(--card);
        padding: 9px;
        border-radius: 5px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
        background-color: #ffffff;
    }

    button {
        width: 10em;

        margin: 5px 0;
        font-size: small;
        padding: 0.5em 0.5em 0.5em 0.5em;
        border-radius: 10px;
    }


}

/* For Large mobile small tablets - width range 481px – 768px */

/* For tablets or ipads- width range 769px – 1024px */

/* For most laptops and small desktops - width range 1025px – 1440px */

/* For big monitor and ultra wide screens - width range 1441px and above */