body {
    background-color: rgb(255, 247, 221);
}

* {
    box-sizing: border-box;
    margin: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "left-sidebar navbar navbar"
        "left-sidebar content right-sidebar"
        "left-sidebar bottom-cards right-sidebar";
    grid-template-columns: 170px auto 340px;
    grid-template-rows:70px auto 200px;
    background-color: rgb(145, 196, 195);
    
    padding: 10px;
    gap:10px;
    overflow: hidden;
    
}

.navbar {
    grid-area: navbar;
    position: relative;
    z-index: 2;
    margin-left: -170px;
    /* exact match */
}

.bottom-cards,
.right-sidebar,
.content {
    background-color: rgb(180, 222, 189);
    border-radius: 20px;
}

.left-sidebar,
.navbar {
    background-color: rgb(128, 161, 186);
    border-radius: 20px;
}

.left-sidebar {
    grid-area: left-sidebar;
    position: relative;
}
.left-sidebar img{
    position: absolute;
    height:60px;
    width:auto;
    border-radius: 12px;   /* less rounded */
    z-index: 3;
    top:6px;
    left:11px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
    
   

.navbar {
    grid-area: navbar;

}

.right-sidebar {
    grid-area: right-sidebar;

}

.bottom-cards {
    grid-area: bottom-cards;

    display: grid;
    grid-template-areas: "bottom-card1 bottom-card2";
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    justify-content: center;

}

.bottom-card1,
.bottom-card2 {
    /* width:26em; */
    gap: 30px;
    margin: 10px;
    background-color: pink;
}

.bottom-card1 {
    grid-area: bottom-card1;
}

.bottom-card2 {
    grid-area: bottom-card2;
}

.content {
    grid-area: content;

}