* {
  box-sizing: border-box;
}

body {
    font-family:'Nunito',sans-serif;
    margin: 0;
    padding: 0;
}

/*Format	Code
HEX	#1877F2
RGB	rgb(24, 119, 242)
HSL	hsl(221, 88%, 52%)*/

main {
    height: 100vh;
    background-color: rgb(167, 227, 153);
    display: grid;
    grid-template-areas: "logo form";
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-bottom: 80px;
   
}

.form {
    padding-bottom: 7px;
}

/* .line1 {
    text-decoration: none;
    color: black;
    font-size: xx-large;
} */
/*.line1 {
    text-align: left;
    font-size:xx-large;
    font-weight: bolder;
    color:  rgb(13, 57, 55);
    margin: 0;
    line-height: 2.2;
    font-style: italic;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: -260px;
}*/

.line2 {
    font-size: large;
    display: inline-block;
    padding-left: 90px;
    padding-top: 0;
    color: black;
    text-align: center;
    justify-content: center;
}
.line2 b:hover{
    text-decoration: underline;
    text-decoration-color: black;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    /* reduced gap between logo/line1 and white box */
    transform: translateY(-50px);
    /* move logo section upward */
}

.logo img {
    height: 170px;
    width: 290px;
    margin-bottom: 5px;
    /* reduce space between image and line1 */
}

.white {
    height:560px;
    width: 530px;
    background-color:rgb(128, 203, 196);
    border-style: none;
    border-radius: 15px;
    margin: 50px;
    padding: 27px;
    box-sizing: border-box;
    box-shadow: 2px 1px 10px 5px rgb(225, 224, 224);
    /*box-shadow: offset-x offset-y blur-radius spread-radius color;*/
}

input {
    height: 66px;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: larger;
    border: 1px solid rgb(134, 133, 133);
    border-radius: 7px;
    box-sizing: border-box;
}
input:focus{
    caret-color: rgb(16, 158, 154);
    outline: none;
    border-color: white;
    box-shadow: 0 0 2px 1.5px   rgb(15, 153, 148); /*box-shadow: offset-x offset-y blur-radius spread-radius color;*/
}

#login button {
    height: 60px;
    width: 100%;
    margin: 15px auto;
    padding: 10px 0px 10px 10px;
    /*top right bottom left*/
    font-size: x-large;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    background-color:  rgb(16, 158, 154);
    border-style: none;
}
#login button:hover{
    background-color: rgb(12, 120, 116);
    border-style: none;
    border-radius: 7px;
    color: white;
   
}

#forgot {
    font-size: large;
    margin: 10px;
    padding: 7px;
    text-align: center;
    color: white;

}
#forgot:hover{
    text-decoration: underline;
    text-decoration-color:rgb(24, 119, 242) ;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    width: 100%;
    margin: 20px auto;
}

#create {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 5px auto;
    /*top right bottom left*/
    padding: 15px;
    color: rgb(16, 158, 154);
    background-color: rgb(246, 255, 153);
    border-radius: 7px;
    height: 46px;
    width: 45%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
#create:hover{
     background-color: rgb(240, 251, 118);
}


@media only screen and (max-width: 853px) {
  /* CSS rules for screens 853px or smaller */
  main {
    height: 100vh;
    background-color: #f0f2f5;
    display: grid;
    grid-template-areas: "logo"
                            "form";
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    padding-right: 30px;
    padding-bottom: 60px;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
    /* reduced gap between logo/line1 and white box */
    transform: translateY(-50px);
    /* move logo section upward */
}
}