body{
    background-color:  rgb(72, 179, 175);
    font-family: 'Nunito', sans-serif;
    text-align: center;
    justify-content: center;
    margin: 0;
}
/*.right{
   
    background-color: rgb(71, 110, 174);
    width: 65vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}*/
.Parent-box{
    background-color:white;
    justify-content: center;
    align-items: center;
    width: 35vw;
    padding: 30px;
    margin:5rem 29rem 40rem 29rem;  
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

  
#ForgotPass{
    color:  rgb(37, 68, 124); 
    font-size: xx-large;
    font-weight: 900;
    /*text-shadow: 3px 3px 5px rgb(72, 179, 175);*/
}
h3{
    color: rgb(37, 68, 124); 
}

.child-box {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    margin: 1rem 0 1rem 5rem;
}
button {
    width: 100%;
    height: 45px;
    margin: 10px 0;
    font-size: large;
    font-family:'Nunito', sans-serif;
    border-radius:25px;
    color: white;
    padding: 12px;
    border: none;
    transition: 0.3s;
}

 

.signup{
    background-color: rgb(71, 110, 174);
    color: white;
    border-style: none;
}
.signup:hover {
  background-color: rgb(50, 85, 150); 
}
.submit{
    background-color: rgb(72, 179, 175);
    color:white;
    border-style: none;
    font-weight: 600;
}
.submit:hover {
  background-color: rgb(50, 150, 145);
}


input {
    height:40px;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    font-size:medium;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}
input:focus{
    caret-color: rgb(16, 158, 154);
    outline: none;
    border-color:#4CAF50;
    box-shadow: 0 0 2px 1.5px   rgb(15, 153, 148); /*box-shadow: offset-x offset-y blur-radius spread-radius color;*/
}
